<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="../static/js/index.js" defer></script>
        <title>Image Compressor</title>
        <link rel="icon" href="../static/icon.png" type="image/x-icon">
    </head>
    <body>
        <div class="bigcontainer">
            <div class="container">
                <img src="../static/place-holder.png" id="originalimg">
                <h1>imagen original</h1>
            </div>
            <div class="container">
                <img src="../static/place-holder.png" alt id="compressed">
                <h1>imagen comprimida</h1>
            </div>
        </div>
        <div class="input_container">
            <input type="file" id="input_image" accept=".png,.jpg,.bmp"
                onchange="updateImage()">
            <h1 class="slider_label" id="subdivision_label">Subdivision: 0</h1>
            <input type="range" id="subdivision" value="0" min="0" step="1"
                onchange="compression()" oninput="UpdateLabel()">
            <h1 class="slider_label" id="threshold_label">Threshold: 0</h1>
            <input type="range" id="threshold" min="0" max="254" value="0"
                step="1" onchange="compression()" oninput="UpdateLabel()">
        </div>
    </body>
    <footer class="footer">
        <div class="footer-content">
            <p>Desarrollado con ❤️</p>
            <a href="https://github.com/SDSANTOSYT/Quad-Tree-img-comp" class="github-button" target="_blank">
                <i class="fab fa-github"></i>
                Ver en GitHub
            </a>
        </div>
    </footer>
</html>
