<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QuadTree visualizer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
        <script src="../static/js/quadtree.js"></script>
        <script src="../static/js/sketch.js"></script>
    </head>
    <body>
        <div id="quadtree">
            <h1>QuadTree Visualizer</h1>
            <p>Click en el canvas para agregar puntos</p>
            <button type="reset" onclick="setup()">Limpiar</button>
        </div>
    </body>
</html>
